$width : 290px;
.phappy-call-item {
    .card-content {
        padding: 1rem;
    }
    .icon {
        font-size: 30px;
    }
    // manage overflow component
    .sender, .detail, .detail-line {
        width: $width;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .sender {
        width: $width;
        margin-left: 10px;
        font-size: 14px;
    }
    .detail {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .button.is-small {
        font-size: 0.60rem;
        .icon {
            font-size: 0.7rem;
        }
    }
}
